---
import TitleStep from "../../components/ui/TitleStep.astro";
import CardCode from "../../components/ui/CardCode.astro";
import Section from "../../components/ui/Section.astro";
---

<Section title="Clonar proyectos del repositorio de GuiHub" id="clone-project">
  <ul class="pl-5">
    <li class="mb-6">
      <TitleStep number="1">
        Clonar proyecto por <b>https</b>
      </TitleStep>
      <div class="ml-8 mt-3">
        <CardCode code={`git clone + "HTPPS del proyecto que desea clonar"`} />
      </div>
    </li>
  </ul>
</Section>
