---
const { number } = Astro.props;
---

<div class="flex items-center">
  <div
    class="bg-black rounded-full h-5 w-5 flex justify-center items-center mr-3 aspect-square"
  >
    <p class="font-bold text-white text-[10px] m-0 p-0">{number}</p>
  </div>
  <p class="text-lg text-gray-700">
    <slot />
  </p>
</div>
